.page-container {
  background: url('../../../assets/images/europeSpace.jpg') center center fixed;
  background-size: cover;
  height: 100vh;
  &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
}
}

.chat-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 70px;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
  max-height: 85vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-control {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1%;
  border-radius: 1px;
}

.chat-input {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #211f1f;
  display: flex;
  align-items: center;
  padding-left: 28%;
  margin: 0 auto;
}

.send-btn {
  background-color: rgb(25, 195, 125);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.auto-expand {
  background-color: #343a40;
  color: #fff;
  margin-bottom: 5px;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-width: 70%;
}
