<div class="page-container">
  <div class="chat-container">
    <div class="chat-list ml-3">
      <app-message-list [messages]="messages"></app-message-list>
    </div>
    <div class="chat-control">
      <div class="chat-input">
        <textarea [rows]="calculateRows()" [cols]="calculateCols()" class="form-control auto-expand" style="width:50%;"
          (input)="adjustTextareaSize($event)" [(ngModel)]="message.content"></textarea>
        <button class="btn btn-success send-btn" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>