<div class="container">
  <h1>Welcome to EU Contracts requirements checker using AI llama2</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/ueflag.jpg" alt="Image 1" />
      <button class="btn btn-primary" routerLink="/about">About</button>
    </div>
    <div class="col-md-6">
      <img src="assets/images/contracts.jpg" alt="Image 2" />
      <button class="btn btn-primary" routerLink="/chat-page">Chat Page</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/terms.jpg" alt="Image 3" />
      <button class="btn btn-primary" routerLink="/contacts">Contacts</button>
    </div>
    <div class="col-md-6">
      <img src="assets/images/stars.jpg" alt="Image 4" />
      <button class="btn btn-primary" routerLink="/faq">FAQ</button>
    </div>
  </div>
</div>
