<section class="py-7 py-md-0 bg-hero bg-dark img-flag" id="chat">
  <div class="container ">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
        <h1 class="heading-white text-capitalize">EU Contract Requirements Checker</h1>
        <p class="lead py-3">A tool for your contracts validation, powered by AI</p>
        <button class="btn btn-primary d-inline-flex flex-row align-items-center" routerLink="/chat">
          Try now
          <em class="ml-2" data-feather="arrow-right"></em>
        </button>
      </div>
    </div>
  </div>
</section>
<app-features></app-features>

<section class="py-7 bg-dark" id="faq">
  <app-faq></app-faq>
</section>