<div class="container">
  <h1>Contact Us</h1>
  <div class="contact-info">
    <mat-card>
      <mat-card-content>
        <h2>General Inquiries</h2>
        <p>
          Email us at <a href="mailto:info@example.com">info@example.com</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2>Press Inquiries</h2>
        <p>
          Email us at <a href="mailto:press@example.com">press@example.com</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <h2>Customer Support</h2>
        <p>Call us at <a href="tel:+1234567890">123-456-7890</a></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
