<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h2>Frequently asked questions</h2>
      <p class="text-muted lead">Answers to most common questions.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h2>Can I try it for free?</h2>
          <p class="text-muted">Absolutely yes.</p>
        </div>
        <div class="col-md-6 mb-5">
          <h2>Do you have hidden fees?</h2>
          <p class="text-muted">As a checker software, transparancy is our goal, nothing is hidden.</p>
        </div>
        <div class="col-md-6 mb-5">
          <h2>Where will my contract be kept while uploaded?</h2>
          <p class="text-muted">To better be compliant with GDPR we decided to don't store any contract nor personal
            info for now, changes may be applied later.</p>
        </div>
        <div class="col-md-6 mb-5">
          <h2>How often do you release updates?</h2>
          <p class="text-muted">Anytime the Eu general requirements updates, this checker is updated automatically.</p>
        </div>
        <div class="col-md-6 mb-5">
          <h2>What is the IA used?</h2>
          <p class="text-muted">An open source larga language model powered by Meta, llama2.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 mx-auto text-center">
      <h2 class="mb-4">Have questions?</h2>
      <button routerLink="/contacts" class="btn btn-primary">Contact us</button>
    </div>
  </div>
</div>